@{
    ViewData["Title"] = "About";
}
<div class="siteContent">
    <div class="container">
        <div class="row">
            <div class="col-sm-12"><h1>About Us</h1></div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h2>Our Mission</h2>
                <p>Generic Mission Statement</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12"><h2>Meet The Team</h2></div>
        </div>
        <div class="row">
            <div class="col-sm-3 empPhoto"><img src="images/no-photo-icon.png" alt="Team Member Photo" /></div>
            <div class="col-sm-9 empInfo">
                <h3>Prithula Hridi</h3>
                <p>Information about Prithula</p>
                <p>[E]: phridi@netboard</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 empPhoto"><img src="images/no-photo-icon.png" alt="Team Member Photo" /></div>
            <div class="col-sm-9 empInfo">
                <h3>Peter Lovett</h3>
                <p>Information about Peter</p>
                <p>[E]: plovett@netboard</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 empPhoto"><img src="images/no-photo-icon.png" alt="Team Member Photo" /></div>
            <div class="col-sm-9 empInfo">
                <h3>Alex Erwin</h3>
                <p>Information about Alex</p>
                <p>[E]: aerwin@netboard</p>
            </div>
        </div>
    </div>
</div>
