@{
    ViewData["Title"] = "Support";
}
<div class="siteContent">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ul class="nav nav-tabs">
                    <li><a data-toggle="tab" href="#tab1" aria-selected="true" class="active">FAQs</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="tab-content">
                    <div id="tab1" class="tab-pane fade show active">
                        <div class="accordion">
                            <div class="card">
                                <div class="card-header" id="infraOne">
                                    <a href="#collapseOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                        <p class="mb-0">
                                            Question 1 about account creation?
                                        </p>
                                    </a>
                                </div>
                                <div id="collapseOne" class="collapse" aria-labelledby="infraOne" data-parent="#accordion">
                                    <div class="card-body">
                                        Answer Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                    </div>
                                </div>
                            </div><!-- close card-->
                            <div class="card">
                                <div class="card-header" id="infraTwo">
                                    <a href="#collapseTwo" class="collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt?</p>
                                    </a>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="infraTwo" data-parent="#accordion">
                                    <div class="card-body">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                    </div>
                                </div>
                            </div><!-- card-->
                            <div class="card">
                                <div class="card-header" id="infraThree">
                                    <a href="#collapseThree" class="collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt?</p>
                                    </a>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="infraThree" data-parent="#accordion">
                                    <div class="card-body">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                    </div>
                                </div>
                            </div><!-- card-->
                        </div><!-- accordion-->
                    </div><!-- tab 1-->
                </div><!-- tab content-->
            </div>
        </div>
    </div>
    <p style="text-align:center">Contact us by email or phone for any issues</p>
    <div class="contact">
        <div class="email">
            <p style="font-weight: bold; font-size: 20px; margin-top: 30px; text-align:center">Email: support@newsboard.com</p>
        </div>
        <div class="phone">
            <p style="font-weight: bold; font-size: 20px; margin-top: 30px; text-align:center">Phone: +15205551212</p>
        </div>
    </div>
</div>
